# requirements file for use with pip, for the whisker package

# -----------------------------------------------------------------------------
# Standard PyPI packages
# -----------------------------------------------------------------------------

attrdict  # dictionaries with attribute-style access
colorama  # colour at the command line
colorlog  # colourful logs
dataset  # databases for lazy people
PySide==1.2.4  # Python interface to Qt
Twisted  # TCP/IP communications

# -----------------------------------------------------------------------------
# Development only
# -----------------------------------------------------------------------------

# docutils  # includes rst2html.py
# twine  # for uploading to PyPI
